
/* animação do back-ground do body que varia a posição da imagem no eixo x */
@keyframes gradient {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

/* animação para rotacionar a imagem do simbolo de configuraçõs ao ser clicado */
@keyframes rotateSettings {
    100%{
        transform: rotate(180deg);
    }
}

/* animação para exibir os botões de modo claro e escuro fazendo-o se deslocar 100px a esquerda */
@keyframes exibirMode {
    0%{
        transform: translateX(100px);
    }

    100%{
        transform: translateX(0px);
    }
}

/* animação para esconder os botões de modo claro e escuro fazendo-o se deslocar 100px a direita */
@keyframes esconderMode {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(100px);
    }
}

